* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#box {
    margin-top: 2em;
    width: 100%;
    position: relative;
}

#box>div {
    height: 20em;
    width: 10em;
}

#left-box {
    background-color: #bfa;
    position: absolute;
    left: 0;
}

#right-box {
    background-color: green;
    position: absolute;
    right: 0;
}

#bottom-box {
    height: 10em;
    width: 100%;
    background-color: purple;
}

.clearfix {
    clear: both;
}