* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#box {
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: solid;
}

#box>div {
    height: 100px;
}

/* 交替设置 box 子元素的颜色 */
#box>div:nth-of-type(2n) {
    background-color: pink;
}

#box>div:nth-of-type(2n+1) {
    background-color: green;
}